<!DOCTYPE html>
<html>

<head>
  <title>Add Vinyl</title>
</head>

<body>
  <h1>Add vinyl</h1>
  <form action="/result" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br>
    <label for="artist">Artist:</label>
    <input type="text" id="artist" name="artist"><br>
    <label for="year">Year:</label>
    <input type="text" id="year" name="year"><br>
    <label for="genre">Genre (comma separated):</label>
    <input type="text" id="genre" name="genre"><br>
    <input type="submit" value="Add" />
  </form>
  <a href="/">Home</a>
</body>

</html>
