<!DOCTYPE html>
<html>

<head>
  <title>VinylCabinet</title>
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  <h1>VinylCabinet</h1>
  <form action="/" method="get">
    <input type="text" name="query" placeholder="Search albums" value="{{ query or '' }}">
    <button type="submit">Search</button>
  </form>
  {% if albums %}
    {% for album in albums %}
    <p>
      <img src="{{ album['image_url'] or 'static/placeholder.jpg'}}" alt="Album cover" width="150"><br>
      <strong>{{ album["title"] }}</strong> - {{ album["artist"]}} ({{ album["year"] }}, {{ album["genre"] }})
      <a href="/album/{{ album['id'] }}">View Details</a>
      {% if album['avg_stars'] %}
      <p>
      Average Rating: {{ '★' * album['avg_stars'] | int }}{{ '☆' * (5 - album['avg_stars'] | int) }}
      </p>
      {% endif %}
      {% if session.username and album["user_id"] == session.user_id %}
        <form action="{{ url_for('delete_album', album_id=album['id']) }}" method="post" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
        <a href="{{ url_for('edit_album', album_id=album['id']) }}">Edit</a>
      {% endif %}
    </p>
      {% if session.username %}
        <form action="{{ url_for('favorite', album_id=album['id']) }}" method="post" style="display:inline;">
          {% if album["is_favorite"] %}
            <button type="submit">★ Unfavorite</button>
          {% else %}
            <button type="submit">☆ Favorite</button>
          {% endif %}
        </form>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No albums found</p>
  {% endif %}
    <p>
    {% if session.username %}
    <a href="{{ url_for('add') }}">Add</a>
    {% endif %}
    {% if not session.username %}
    <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
    <a href="{{ url_for('register') }}">Register</a>
    {% if session.username %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </p>

</body>

</html>
