<!DOCTYPE html>
<html>

<head>
  <title>Vinylcabinet</title>
</head>

<body>
  <h1>Vinylcabinet</h1>
  {% for album in albums %}
  <p>
    <strong>{{ album["title"] }}</strong> - {{ album["artist"]}} ({{ album["year"] }}, {{ album["genre"] }})
  </p>
  {% endfor %}
  <p>
    {% if session.username %}
    <a href="add">Add vinyl</a>
    {% endif %}
    {% if not session.username %}
    <a href="login">Login</a>
    {% endif %}
    <a href="register">Register</a>
    {% if session.username %}
    <a href="logout">Logout</a>
    {% endif %}
  </p>

</body>

</html>
