<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <h1>Login</h1>
  <form action="/login" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
      Username: <br />
      <input type="text" name="username" required />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" required />
    </p>
    <input type="submit" value="Login" />
    <a href="/">Home</a>
  </form>
</body>

</html>
